<div ng-controller="UmbracoBookshelfFileController">
    <umb-panel>
        <umb-header tabs="content.tabs">
            <div class="umb-headline-editor-wrapper span12">
                <h1 class="ng-binding">{{model.filePath}}</h1>
            </div>
            <div class="bookshelf-toolbar span12">
                <div class="row">
                    <div class="span9">
                        <div ng-show="isEditing">
                            <button class="btn" value="Text" title="Headline 1" ng-click="insertHeadlineMd(1)">H1</button>
                            <button class="btn" value="Text" title="Headline 2" ng-click="insertHeadlineMd(2)">H2</button>
                            <button class="btn" value="Text" title="Headline 3" ng-click="insertHeadlineMd(3)">H3</button>
                            <button class="btn" value="Text" title="Inline Code" ng-click="insertCodeMd(1)"><i class="icon-code"></i></button>
                            <button class="btn" value="Text" title="Block Code" ng-click="insertCodeMd(3)"><i class="icon-binarycode"></i></button>
                            <button class="btn" value="Text" title="Image" ng-click="insertImageMd()"><i class="icon-picture"></i></button>
                            <button class="btn" value="Text" title="Link" ng-click="insertLinkMd()"><i class="icon-link"></i></button>
                            <button class="btn" value="Text" title="Ordered List" ng-click="insertOlMd()">OL</button>
                            <button class="btn" value="Text" title="Un-ordered List" ng-click="insertUlMd()">UL</button>
                            <button class="btn" value="Text" title="Blockquote" ng-click="insertBlockquoteMd()">BLOCKQUOTE</button>
                        </div>
                    </div>
                    <div class="bookshelf-toolbar-right span3 text-right">
                        <div ng-show="isEditing">
                            <button class="btn btn btn-default" ng-click="toggleEdit();">Hide Editor</button>
                            <button ng-show="dirty" class="btn btn btn-success" ng-click="save()" ng-disabled="isSaving">Save</button>
                        </div>
                        <div ng-hide="isEditing || config.disableEditing">
                            <button class="btn btn btn-default" style="float: right;" ng-click="toggleEdit();">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </umb-header>
        <umb-tab-view>
            <umb-tab id="tab1" rel="content">
                <div id="bookshelf-canvas" class="umb-pane row">
                    <div ng-show="isEditing" class="span6" style="padding-right: 20px;">
                        <textarea auto-grow ng-model="model.content" class="span12" style="height: 100%; margin-bottom: 10px;" ng-change="makeDirty()"></textarea>
                    </div>

                    <div class="bookshelf-markup" ng-class="{span6: isEditing, span12: !isEditing}" umbraco-bookshelf-marked-up="{{model.content}}"></div>
                </div>
            </umb-tab>
        </umb-tab-view>
    </umb-panel>
    <umbraco-bookshelf-ctrl-s></umbraco-bookshelf-ctrl-s>
    <umbraco-bookshelf-editor-height></umbraco-bookshelf-editor-height>
</div>