.bookshelf-markup {
    a {
        color: blue;
    }

    pre {
        >code {
            display: block;
            color: blue;
            white-space: pre;
        }
    }
}

.bookshelf-library {
    .downloadUrl {
        width: 500px;
    }

    a {
        color: blue;
    }

    table {
        .title {
            width: 250px;
        }

        .updatedOn {
            width: 85px;
        }
    }
}