<div ng-controller="UmbracoBookshelfLibraryController" class="bookshelf-library">
    <h1>Download items to your bookshelf</h1>
    <p>Be sure to only use trusted resources.  Checks are made to only allow markdown and media files to be placed on your system.</p>

    <div class="form-group" ng-hide="showLocal">
        <input class="downloadUrl" type="text" ng-model="model.downloadUrl"/>
        <button class="btn btn-success" ng-click="downloadUrl()" ng-disabled="isDownloading">Download</button>
        <div>
            <em>Ex. https://github.com/umbraco/Umbraco4Docs/archive/master.zip</em>
        </div>
    </div>
    <div>
        <h3>Popular Books on GitHub</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="title">Title</th>
                <th class="updatedOn">Updated On</th>
                <th>Author(s)</th>
                <th>Project URL</th>
            </tr>
            </thead>
            <tr ng-repeat="item in model.feed.gitHub">
                <td>
                    <a prevent-default href="#" ng-click="populateDownloader(item)">{{item.title}}</a>
                </td>
                <td>{{getUpdatedOn(item)}}</td>
                <td>{{getBookItemAuthors(item)}}</td>
                <td><a href="{{getProjectUrl(item)}}" target="_blank">{{getProjectUrl(item)}}</a></td>
            </tr>
        </table>
    </div>
</div>