<div ng-controller="UmbracoBookshelfLibraryController" class="bookshelf-library">
    <h1>Download items to your Bookshelf</h1>
    <p>Be sure to only use trusted resources.</p>

    <div class="form-group">
        <input class="downloadUrl" type="text" ng-model="model.downloadUrl" />
        <button class="btn btn-success" ng-click="downloadUrl()" ng-disabled="isDownloading">Download</button>
        <div>
            <em>Ex. https://github.com/umbraco/Umbraco4Docs/archive/master.zip </em>
        </div>
    </div>
</div>